<h1>Bonjour confirmation de l'email!</h1>

<p>
    S'il vous plait confirme ton inscription en cliquant sur le lien: <br><br>
    <a href="{{ signedUrl }}">Confirmation de mon Email</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
