{% extends 'base.html.twig' %}

{% block title %}Edit TypeRayon{% endblock %}

{% block body %}
    <h1>Edit TypeRayon</h1>

    {{ include('type_rayon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_rayon_index') }}">back to list</a>

    {{ include('type_rayon/_delete_form.html.twig') }}
{% endblock %}
